* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.6s ease-in-out;
}

body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 700px;
  background-color: #1e2220;
  position: relative;
  margin: 0 auto;
  border-radius: 8px;
  color: rgb(98, 83, 83);
}

.profile {
  width: 100%;
  max-width: 700px;
  height: 150px;
  position: relative;
}

.img-cover {
  width: 100%;
  height: 100%;
  position: absolute;
}

img {
  width: 100%;
  height: 100%;
}

.profile-img {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid #1e2220;
  overflow: hidden;
  top: 50px;
  transform: translateX(200%);
}

.cta-container {
  height: 200px;
  padding: 30px 20px;
}

.cta-text h3 {
  color: whitesmoke;
  font-size: 25px;
  margin-bottom: 20px;
}

.cta-text p {
  margin-bottom: 10px;
  font-size: 18px;
  color: whitesmoke;
}

.cta-text p a {
  text-decoration: none;
  padding-left: 10px;
  color: rgb(173, 70, 28);
}

.cta-text p a::after {
  width: 5px;
  height: 5px;
  background-color: rgb(219, 139, 108);
  content: " ";
  position: absolute;
  left: 162px;
  vertical-align: middle;
  top: 265px;
  border-radius: 50%;
}

.cta-btn {
  margin-top: 30px;
}

.btn {
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(219, 121, 121);
}

.active .profile-img::after {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  position: absolute;
  animation: loading 0.3s infinite ease-in-out;
}

@keyframes loading {
  0% {
    background-color: #abcabb;
  }
 
  50% {
    background-color: #648675;
  }
  
  100% {
    background-color: #add3c0;
  }
}
